
body{
	margin: auto;
	padding: auto;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
}
h1{ 
	text-align:center;
}


p{
	text-align: justify;
	margin-top: 40px;
	padding: auto;

}


#box1,#box2,#box3{
	margin: 1px;
	color:#ffffff;
	/*border-radius: 10px;*/
	border: black solid 1px;
	box-sizing: border-box;

}
#box1{
	background-color:#9090aa;
}

#box2{
	background-color:#909022;
}

#box3{
	background-color:#909077;
}

#intro,#about,#contact{
	float: right;
	width: 200px;
	text-align: right;
	color:black;
	border: black solid 1px;
	font-size: 20px;
	padding: 5px;
	
}
#intro{
	background-color: #ff00ff;
}
#about{
	background-color: #ffff00;
}
#contact{
	background-color: #00ffff;
}
 
 .row{
 		width: 100%;

 	}
/* Desktop view */ 	

@media (min-width: 992px){

	.col-lg-4{
		width: 33%;
		float: left;
	}
	
 	
 }
/* tablet view */ 	

 @media (min-width: 768px)and (max-width: 991px){

	
	.col-md-6{
		width: 49%;
		float: left;
	}
	.col-md-12{
		width: 98%;
		float: left;
	}
 	
 	
 }

/* Mobile view */ 	
 @media (max-width: 767px){

	
	.col-sm-12{
		width: 100%;
		float: left;
	}
 	
 	
 }
